name: Release

on:
  release:
    types:
      - published

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: CompeyDev/setup-rokit@v0.1.2

      - name: Remove test files
        run: rm -rf **/*.spec.luau

      - name: Install packages
        run: wally install

      - name: Build model
        run: rojo build -o remo.rbxm

      - name: Upload release
        uses: softprops/action-gh-release@v1
        if: ${{ github.event.release }}
        with:
          files: remo.rbxm
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
